/* *{
    border: solid #000000;;
} */
header {
    background: #fff00f;
    text-align: center;
    padding: 10px 5px;
}
header a{
    color: #ffff0f;
    background: #808070;
    text-decoration: double;
    font-family: 'Courier New', Courier, monospace;
}
main h2{
    font-family: serif;
}
footer {
    background: #808070;
    padding: 10px 5px;
    text-align: center;
}