body {
<<<<<<< HEAD
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    color: #000fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;    
=======
>>>>>>> 979891c5d74ead28cfe03c306f6125334b5c0a32
}
.a {
    color: #0000ff; /*blue*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}
.b {
    color: #5a5a5a; /*grey*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}
